.Product{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 14px;
    margin-bottom: 15px;
    padding: 0 10px 0 10px;
    margin-left:150px;
    width: 200px;
    height: 160px;
    text-align: center;

}
div{
    text-align: center;
}